
@charset "utf-8";
html {
  width: 100%;
}
body {
  position: relative;
  background: #ffffff;
  color: #696565;
  font: 300 italic 20px/30px 'Open Sans', sans-serif;
  min-width: 1400px;
}
img{
	max-width:100%;}
/****Heads****/
h1,
h2,
h3,
h4,
h5,
h6 {
  
  color: #474b5d;
  font-family: 'Droid Sans', sans-serif;
  font-style: normal;
}
h2 {
  color: #ffffff;
  letter-spacing: 1px;
  text-align:center;
  font-family: "Times New Roman", Times, serif;
  font-size:40px;
}
h2 span {
  margin-top: 60px;
  width: 7px;
  height: 7px;
  background-color: #ffffff;
  border-radius: 500px;
  display: inline-block;
  position: relative;
}
h2 span:before,
h2 span:after {
  position: absolute;
  content: '';
  width: 258px;
  height: 1px;
  background-color: #fff;
  opacity: 0.33;
  display: block;
  top: 50%;
  margin-top: -1px;
}
h2 span:before {
  right: 15px;
}
h2 span:after {
  left: 15px;
}
h3 {
  text-align: center;
  font-size: 38px;
  line-height: 36px;
  padding-top: 76px;
  color: #3e3c3c;
  margin-bottom: 138px;
}
h3.head__1 {
	margin-bottom: 35px;
	margin-top:30px;
}
button{
	background-color:transparent;
	color:#fff;
	padding:14px 20px;
	cursor:pointer;
	text-align:center;
	position:absolute;
	top:230px;
	left:500px;
	}
button:hover{
	background-color:#fff;
	color:green;}
.button-1{
	background-color:transparent;
	color:#fff;
	padding:14px 20px;
	cursor:pointer;
	text-align:center;
	position:absolute;
	top:230px;
	left:600px;
}
/****Lists****/
a {
  text-decoration: none;
  color: #fff;;
  outline: none;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
a:hover {
  color: #999;
}
/****Links****/
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.btn {
  font: 24px/36px 'Droid Sans', sans-serif;
  color: #fff;
  display: inline-block;
  border: 1px solid #474b5d;
  padding: 3px 38px 2px;
  margin-top: 24px;
  position:absolute;
  left:50%;
  margin-left:-93px;
}
.btn:hover {
  text-decoration: underline;
}
header .btn {
  padding: 2px 38px 3px;
  border-color: #ffffff;
  color: #ffffff;
  margin-top: 55px;
}
/****classes****/
/*header*/
.banner-1{
	background-color:#000;
	position:fixed;
	top:0;
	left:0;
	right:0;
	height:100px;
	z-index:100;}
.header{
	padding-top:253px;
	position:relative;
	z-index:200;
	background-image:url(22.jpg);
	padding-bottom:380px;
	}
.header .rel {
  z-index: 999;
}
.header h1 {
  z-index: 999;
}
.header h1 a {
  display: block;
  -webkit-transition: 0s ease;
  transition: 0s ease;
}
.header h1.logo {
  top: -17px;
  position: absolute;
  left: 50%;
  margin-left: -80px;
}
.navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 40px 0 0;
  margin-bottom: 177px;
  text-align: center;
}
.navigation li {
  display: inline-block;
  font: 18px/36px 'Droid Sans', sans-serif;
}
.navigation li + li {
  margin-left: 80px;
}
.navigation li:first-child + li + li+li {
  margin-left: 290px;
}
.navigation li a {
  position: relative;
}
.navigation li a:after {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  position: absolute;
  height: 1px;
  top: 100%;
  margin-top: 7px;
  content: '';
  left: 50%;
  margin-left: -42px;
  background-color: #ffffff;
  opacity: .53;
  width: 0;
}
.navigation li a:hover,
.navigation li a.current {
  color: inherit;
}
.navigation li a:hover:after,
.navigation li a.current:after {
  width: 84px;
}
.modal{
	display:none;
	position:fixed;
	z-index:999;
	top:0;
	left:400px;
	overflow:auto;
	height:600px;
	width:800px;
	padding-top:60px;
	background-color:rgb(0,0,0);
	background-color:rgba(0,0,0,0.9);}
.modal-content{
	height:400px;
	width:550px;
	background-color:#fff;
	position:absolute;
	left:125px;}
.close{
	position:absolute;
	right:20px;
	color:#fff;}
.close:hover,
.close:focus{
	color:red;
	cursor:pointer;}
.container{
	padding:16px;}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.cancelbtn {
	position:absolute;
	left:80px;
	top:450px;
	float:left;}
.signupbtn{
	position:absolute;
	left:180px;
	top:450px;}
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}
.cj-inset{
	position: relative;
	padding-top:80px;
	padding-bottom:750px;}
.shutiao{
	height:490px;
	width:4px;
	background-color:#000;
	position:absolute;
	top:103px;
	left:582px;}
.pz-1{
	position: relative;
	padding-top:80px;
	padding-bottom:750px;}
.serv_links {
  position: relative;
  min-height: 10px;
  padding-top:60px;
  margin-top:100px;
}
.serv_links .serv {
  font-size: 22px;
  line-height: 36px;
  color: #474b5d;
  width: 194px;
  display: block;
  text-align: center;
  position: absolute;
  left: 0;
  font-weight: normal;
  font-style: normal;
}
.serv_links .serv:hover span {
  text-decoration: underline;
}
.serv_links .serv:before {
  position: absolute;
  width: 137px;
  height: 137px;
  content: '';
  border: 1px solid #727582;
  left: 50%;
  margin-left: -69px;
  top: 50%;
  margin-top: -65px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  text-decoration: none !important;
}
.serv_links .serv:first-child {
  top: 220px;
  left: 0;
}
.serv_links .serv:first-child + .serv {
  left: 100px;
  top: 120px;
}
.serv_links .serv:first-child + .serv:before {
  margin-top: -67px;
  margin-left: -67px;
}
.serv_links .serv:first-child + .serv + .serv {
  left: 200px;
  top: 20px;
}
.serv_links .serv:first-child + .serv + .serv:before {
  margin-top: -67px;
  margin-left: -67px;
}
.serv_links .serv:first-child + .serv + .serv + .serv {
  left: 205px;
  top: 220px;
}
.serv_links .serv:first-child + .serv + .serv + .serv:before {
  margin-top: -67px;
  margin-left: -67px;
}
.serv_links .serv:first-child + .serv + .serv + .serv + .serv {
  left: 305px;
  top: 120px;
}
.serv_links .serv:first-child + .serv + .serv + .serv + .serv:before {
  margin-top: -67px;
  margin-left: -67px;
}
.serv_links .serv:first-child + .serv + .serv + .serv + .serv + .serv {
  left: 405px;
  top: 20px;
}
.serv_links .serv:first-child + .serv + .serv + .serv + .serv + .serv:before {
  margin-top: -67px;
  margin-left: -67px;
}
.serv_links .serv:first-child + .serv + .serv + .serv + .serv + .serv + .serv {
  left: 510px;
  top: 120px;
}
.serv_links .serv:first-child + .serv + .serv + .serv + .serv + .serv + .serv:before {
  margin-top: -67px;
  margin-left: -67px;
}
.serv_links .serv:first-child + .serv + .serv + .serv + .serv + .serv + .serv + .serv {
  left: 610px;
  top: 20px;
}
.serv_links .serv:first-child + .serv + .serv + .serv + .serv + .serv + .serv + .serv:before {
  margin-top: -67px;
  margin-left: -67px;
}

/****Non suppage set****/
.page{
	padding-bottom:73px;
	display:block;
}
.block-1 {
  font-weight: normal;
}
.block-1 .text {
  font-size: 20px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-style: normal;
  margin-bottom: 21px;
}
.block-1 + .block-1 {
  margin-top: 136px;
}
.block-1 + .block-1 .text {
  position: relative;
  top: 1px;
  
}
.block-1.inset__1 {
  padding-top: 50px;
}
.block-1.inset__1.text{
	position:absolute;
	left:200px;}

.block-1.inset__1 .cornered {
	 float: left;
  margin-right: 30px;
  margin-left: -8px;
}
.block-1.inset__1 .cornered:after {
  left: -10px;
  margin-left: 0;
}
.wrapper,
.extra_wrapper {
  overflow: hidden;
}
/****Blocks****/
.story{
	 padding-bottom: 243px;
  position: relative;
  margin-top: -8px;}
.grid_6-omega{
	position:absolute;
	left:610px;
	top:100px;
	}
.grid_6-omega-1{
	position:absolute;
	left:610px;
	top:430px;}
.cornered {
  color: #474b5d;
  font-size: 24px;
  line-height: 36px;
  width: 194px;
  font-weight: normal;
  font-style: normal;
  position: relative;
  float: right;
  text-align: center;
  margin-top: 88px;
  margin-right: -8px;
}
.cornered:before {
  position: absolute;
  width: 137px;
  height: 137px;
  content: '';
  border: 1px solid #727582;
  left: 50%;
  margin-left: -69px;
  top: 50%;
  margin-top: -65px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  text-decoration: none !important;
}
.cornered:after {
  position: absolute;
  width: 14px;
  height: 14px;
  content: '';
  background-color: #474b5d;
  left: 100%;
  margin-left: -1px;
  top: 50%;
  margin-top: -4px;
  border-radius: 500px;
}
/****zp****/
